html {
    scroll-behavior: smooth;
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='31' fill='none' viewBox='0 0 26 31'%3E%3Cpath fill='%23fff' fill-rule='evenodd' stroke='%23010101' stroke-linecap='square' stroke-width='2.5' d='M21.993 14.425 2.549 2.935l4.444 23.108 4.653-10.002 10.347-1.616Z' clip-rule='evenodd'/%3E%3C/svg%3E"),auto;
    scrollbar-color: rgb(53, 53, 53) rgb(165, 165, 165);
    scrollbar-width: thin;
}

body{
    background-color: black;
    color: white;
}

#wrapper_first_div{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
}

#first_div{
    display: flex;
    justify-content:center;
    flex-direction: column;
    text-align: center;

}

#first_div > h1{
    color: rgb(7, 233, 233);
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10em;
    margin-bottom: 0%;
    padding-bottom: 0%;
}
 
#first_div > h2{
    color: rgb(39, 224, 194);
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 0%;
    font-size: 2em;
    overflow: hidden; 
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

#about_me{
    color: white;
    height: 25vh;
}

.main__bg { 
    background-image: linear-gradient(-60deg, #404258 50%, #6B728E 50%); 
    animation: slide ease-in-out infinite alternate; 
    animation-timeline: scroll();
    animation-iteration-count: 1;
    animation-fill-mode: both;
    position: fixed; 
    top: 0; 
    bottom: 0; 
    left: -50%; 
    right: -50%; 
    opacity: 0.5; 
    z-index: -1; 
} 
  
.layer1 { 
    animation-direction: alternate-reverse; 
    animation-timeline: scroll(); 
} 
  
.layer2 { 
    animation-timeline: scroll();
} 
  
@keyframes slide { 
    0% { 
        transform: translateX(-40%); 
    }
    50%{
        transform: translateX(0%)
    }
    100% { 
        transform: translateX(40%); 
    } 
}

.elements{
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5em;
    width: inherit;
    padding: 2%;
    left: 0;
}

@media (max-width: 900px) {
    .elements{
        height: fit-content;
        padding: 6%;
    }
}
#about_me_box{
    color: rgb(255, 255, 255);
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: rgba(14, 217, 253, 0.5);
    height: fit-content;
    left: 0;
}

#about_me_box > p{
    width: 112cw; 
    text-align: center;
}

#the_journey_box{
    background-color:  rgba(35, 228, 115, 0.5);
    height: fit-content;
}

#my_work{
    background-color: rgba(35, 103, 228, 0.5) ;
    height: fit-content;
}

#contact_me{
    background-color: rgba(109, 35, 228, 0.5);
    height: fit-content;
    padding-bottom: 5vw;
}
#contact_me > h2{
    width: 10ch; 
    margin: 0% 5% 10% 5%;
}

footer {
    background-color: rgb(247, 235, 235);
    color: rgb(0, 0, 0);
    padding: 4% 0;
    width: 100%;
    bottom: 0;
    position:relative;
    left: 0;
    text-align: center;
  }

  .wrapper_footer{
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  .container_footer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1%;

  }
  
  .copyright {
    font-size: 1.4rem;
    margin-bottom: 1%;
  }

  @media (max-width: 900px) {
    .copyright{
      font-size: 0.8rem;
      padding: 2%;
    }
    @keyframes heartbeat {
      0%{
        font-size: 0.2rem;
      }
      50%{
        font-size: 0.5rem;
      }
      100%{
        font-size: 0.2rem;
      }
    }
  }

  .heart{
    font-size: 0.5rem;
    animation: heartbeat 0.75s infinite;
  }

  @keyframes heartbeat {
    0%{
      font-size: 0.2rem;
    }
    50%{
      font-size: 0.8rem;
    }
    100%{
      font-size: 0.2rem;
    }
  }

.journey-timeline {
    color: black;
    position: relative;
}

.timeline-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: 100%;
}

.timeline-event {
    background: #fff;
    border-radius: 1%;
    padding: 2%;
    margin: 2%;
    box-shadow: 0 2% 5% rgba(0, 0, 0, 0.1);
    position: relative;
    width: calc(33.33% - 4vw);

}

.timeline-event:hover {
    background: #ddd;
}

.timeline-event h2 {
    font-size: 2rem;
}

.title_journey {
    margin-top: 5vw;
    text-align: center;
    font-size: 2.5rem;
    color: white;
}

.description_journey {
    text-align: center;
    font-size: 2rem;
    color: white;
}

@media (max-width: 900px) {
    .timeline-event {
        width: 70vw;
        padding: 7%;
    }
}

.project-showcase {
    background-color: transparent;
    padding: 5%;
    text-align: center;
  }
  
  .title {
    font-size: 2em;
    margin-bottom: 3vw;
  }
  
  .project-widgets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    gap: 3vw;
  }
  
  .project-widget {
    position: relative;
    background-color: #48ad8c;
    border-radius: 1%;
    box-shadow: 0 2% 5% rgba(0, 0, 0, 0.1);
    padding: 2vw;
    transition: transform 0.2s ease-in-out;
    width: 20%;
  }
  
  .project-widget img {
    width: 100%;
    height: 15vw;
    width: 15vw;
    object-fit:contain;
    border-radius: 1%;
  }
  
  .project-widget h3 {
    font-size: 1.2em;
    margin-top: 1.5vw;
    margin-bottom: 0.5vw;
  }
  
  .project-widget p {
    font-size: 1em;
    text-align: center;
    line-height: 1.5;
    color: #ffffff;
    width: 100%;
    font-weight: 100;
  }
  
  .hover-overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 17vw;
    background-color: #c66fe0;
    padding: 2vw;
    border-radius: 1%;
    box-shadow: 0 2% 5% rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    z-index: 9999;
    font-weight: 300;
  }
  
  .project-widget:hover .hover-overlay {
    opacity: 1;
    visibility: visible;
  }
  
  .hover-overlay a {
    display: flex;
    align-items: center;
    margin-top: 1.5vw;
    background-color: grey; 
    color: white; 
    width: fit-content; 
    border-radius: 1%; 
    padding: 5%;
    text-decoration: none;
    font-weight: 200;
  }


  
  .hover-overlay img {
    width: 12%;
    height: fit-content;
    margin-right: 1vw;
  }

.hover-overlay a:hover{
    background-color: rgb(83, 82, 82);
}

@media (max-width: 900px) {
    .project-widget{
        width: 70vw;
    }
    .hover-overlay {
        width: 70vw;
    }
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vw;
  background-color: #f2f2f2;
  border-radius: 0.5vw;
  width: 70vw;
  height: 20vw;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 1vw;
  margin-bottom: 1vw;
  border: none;
  border-radius: 1%;
  height: fit-content;
}

.form-container textarea{
    height: 5vw;
}

.form-container button {
  padding: 1vw 2vw;
  background-color: #bfe225;
  color: white;
  border: none;
  border-radius: 1%;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #a0d61f;
}

@media (max-width: 900px) {
  .form-container {
    width: 70vw;
    height: fit-content
  }
  .form-container input,
    .form-container textarea {
        width: 100%;
    }
.form-container textarea{
    height: 10vw;
}
}

.header a{
    text-decoration: none;
  }
.header ul{
    list-style: none;
}

.header {
  background-color: black;
  box-shadow: 1% 1% 5% 0% grey;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  height: 7vh; 
  align-items: center;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  color: white;
  font-size: 2vw;
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  margin-left: 1em;
}

.logo:hover {
  color: #25dce2;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
  margin-right: 5%;
}

.menu li {
  display: inline-block;
  margin: 1vw 1vw;
  font-size: 1.1rem; 
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
  width: fit-content;
  padding: 1%;
  border-radius: 5%;
}
.menu li a {
  text-decoration: none;
  color: white;
}
.menu li:hover {
  background-color: #272726;
  color: #09ffde;
}

@media (max-width: 900px) {
  .menu li {
    font-size: 1rem;
  }
  .logo{
    font-size: 4vw;
  }
}
