.markdown {
    @apply text-lg leading-relaxed;
  }
  
  .markdown p,
  .markdown ul,
  .markdown ol,
  .markdown blockquote {
    @apply my-6;
  }
  
  .markdown h2 {
    @apply text-3xl mt-12 mb-4 text-green-300;
  }
  
  .markdown h3 {
    @apply text-2xl mt-8 mb-4 text-green-300;
  }

  .markdown h4 {
    @apply text-xl mt-6 mb-4 text-green-300;
  }

  .markdown h5 {
    @apply text-lg mt-4 mb-4 text-green-300;
  }

  .markdown h6 {
    @apply text-base mt-4 mb-4 text-green-300;
  }

  .markdown ul {
    @apply list-disc pl-8;
  }

  .markdown ol {
    @apply list-decimal pl-8;
  }

  .markdown li {
    @apply my-2;
  }

  .markdown blockquote {
    @apply border-l-4 border-green-300 pl-4 italic;
  }

  .markdown img {
    @apply my-6;
    max-width: 100%;
    height: auto;
  }

  .markdown table {
    @apply w-full my-6;
    border-collapse: collapse;
  }

  .markdown th,
  .markdown td {
    @apply border border-gray-300 p-2;
  }

  .markdown th {
    @apply bg-gray-200;
  }


  .markdown a {
    @apply text-green-300 underline;
  }