{{ define "main" }}
<article>
<h1>{{ .Title }}</h1>
{{ if .Params.inprogress }}<p><span class="tag-inprogress">In Progress</span></p>{{ end }}
{{ if or (eq .Section "posts") (eq .Section "gnome") }}
<p class="meta">
{{ if not .Date.IsZero }}{{ .Date.Format "2 Jan 2006" }}{{ end }}
{{ with .Params.author }} &middot; {{ . }}{{ end }}
{{ with .Params.tags }} &middot; {{ delimit . ", " }}{{ end }}
</p>
{{ end }}
{{ .Content }}
</article>
{{ if or (eq .Section "posts") (eq .Section "gnome") }}
{{ partial "comments.html" . }}
{{ end }}
{{ end }}
